<header>
    <div class="container">
        <nav class="nav">
            {# {% if user %}
                <a class="link" href="/logout">Выйти</a>
                <a class="link" href="/posts/1">Мои новости</a>
                <a class="link" href="/create">Добавить новость</a>
            {% else %}
                <a class="link" href="/login">Войти</a>
                <a class="link" href="/signup">Регистрация</a>
            {% endif %} #}
            <a class="link" href="/news">Новости</a>
            <a class="link" href="/mailing">Рассылки</a>
        </nav>
    </div>
</header>