<header class="header">
    <div class="header__heading">
        <div class="container header__container">
            <img class="header__logo" src="/images/rimera_logo.svg" alt="Logo"/>
            <span class="header__link">Панель администратора</span>

            {% if user %}
                    <span class="header__name">{{ user.user_name }}</span>
                    <a class="header__link" href="/logout">Выйти</a>
            {% else %}
                {% if isLogin %}
                    <a class="header__link" href="/signup">Регистрация</a>
                {% else %}
                    <a class="header__link" href="/login">Войти</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
    {% if user %}
        <div class="container">
            <nav class="header__nav">
                <a class="header__link header__bookmark" href="/news">Управление новостями</a>
                <a class="header__link header__bookmark" href="/mailing">Управление рассылками</a>
                <a class="header__link header__bookmark" href="/stats">Статистика подключений</a>
            </nav>
        </div>
    {% endif %}
</header>