.list {
    margin-bottom: 30px;

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 400px;
        padding: 35px 0 0 60px;
        overflow-y: scroll;
        background-color: $grey;
    }

    &__button {
        display: block;
        margin: 0 auto;

        &--right {
            margin-left: auto;
            background-color: $rimeraGreen;
            padding: 10px 22px;
            border-bottom-right-radius: 5px;
        }

        &--outer {
            margin-bottom: 30px;
        }
    }

    &__item {
        width: 500px;
        height: fit-content;
        border-radius: 5px;
        background-color: $greyInner;
        margin-right: 70px;
        margin-bottom: 35px;

        &:nth-child(2n) {
            margin-right: 0;
        }
    }

    &__link {
        display: block;
        padding: 15px 0 25px 35px;
    }

    &__text {
        background-color: $white;
        font-size: 24px;
        border-radius: 5px;
        padding: 22px 0 22px 35px;
    }

    &__row {
        display: flex;
    }

    @media (max-width: $mobile-breakpoint) {
        &__wrapper {
            max-height: 450px;
            height: auto;
        }

        &__item {
            padding: 10px;
        }
    }
}