{% set pageTitle = 'Рассылки' %}

{% extends "layouts/default.njk" %}

{% block bodyContent %}

    <main>
        <section class="section">
            <div class="container">
                <h1 class="section__title">Рассылки</h1>
                <div class="section__description">Выберите рассылку или создайте новую:</div>
                <div class="mailing" data-react-component="MailingComponent"></div>
            </div>
        </section>
    </main>

{% endblock %}