{% set pageTitle = 'Новости' %}

{% extends "layouts/default.njk" %}

{% block bodyContent %}

    <main>
        <section class="section">
            <div class="container">
                <h1 class="section__title">Новости</h1>
                <div class="section__description">Выберите новость для просмотра и редактирования:</div>
                <div class="news" data-react-component="NewsComponent"></div>
            </div>
        </section>
    </main>

{% endblock %}