{% set pageTitle = "Регистрация" %}
{% set isLogin = false %}

{% extends "layouts/default.njk" %}

{% block bodyContent %}

    <main>
        <section class="container">
            <form id="signin-form" class="form" action="/signup" method="post" enctype="application/x-www-form-urlencoded">
                <label class="form__label" for="form-name">Телефон или табельный номер</label>
                <input class="form__input" id="form-name" name="username" type="text" required>
                <label class="form__label" for="form-password">Пароль</label>
                <input class="form__input" id="form-password" name="password" type="password" required>

                {% if signupFailed == 'invalidCredentials' %}
                    <div class="form__popup form__negative">Введены неверные данные!</div>
                {% elif signupFailed == 'noUser' %}
                    <div class="form__popup form__negative">Пользователь не существует!</div>
                {% elif signupFailed == 'signedUp' %}
                    <div class="form__popup form__negative">Пользователь уже зарегистрирован!</div>
                {% elif signupFailed == 'noAccess' %}
                    <div class="form__popup form__negative">Доступ только для администраторов!</div>
                {% endif %}

                <button class="form__button" type="submit">Регистрация</button>
            </form>
        </section>
    </main>

{% endblock %}