@font-face {
    font-family: 'Circe';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: local('Circe-Regular'), local('Circe Regular'),
        url('../fonts/Circe-Regular.woff2') format('woff2'), url('../fonts/Circe-Regular.woff') format('woff');
}

@font-face {
    font-family: 'CirceGlyphs';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: local('Circe-RegularGlyphs'), local('Circe RegularGlyphs'),
        url('../fonts/Circe-RegularGlyphs.woff2') format('woff2'),
        url('../fonts/Circe-RegularGlyphs.woff') format('woff');
}

@font-face {
    font-family: 'Circe';
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    src: local('Circe-Bold'), local('Circe Bold'), url('../fonts/Circe-Bold.woff2') format('woff2'),
        url('../fonts/Circe-Bold.woff') format('woff');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    // -webkit-appearance: none;
    // -webkit-text-size-adjust: none;
}
  
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background-color: $white;
}
  
body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Circe', sans-serif;
    background: $white;
    color: $rimeraGrey;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    min-width: $containerMinWidth;
    overflow-x: hidden;
    overflow-anchor: none;
}
  
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
    margin: 0;
    padding: 0;
}
  
a {
    text-decoration: none;
    color: inherit;
}
  
ul {
    list-style-type: none;
}

img {
    display: block;
    max-width: 100%;
    width: auto;
    height: auto;
}

.container {
    max-width: $containerMaxWidth;
    margin: 0 auto;
    padding: 0 100px;
}

.section {
    padding-top: 100px;
    
    &__title {
        font-size: 55px;
        margin-bottom: 25px;
        text-transform: uppercase;
    }
    &__description {
        font-size: 24px;
        margin-bottom: 45px;
        text-transform: uppercase;
    }
}

.button {
    border: none;
    color: $white;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    border-radius: 30px;
    padding: 10px 22px;
    transition: color .3s, background-color .3s;
    cursor: pointer;

    &--green {
        background-color: $rimeraGreen;
    }

    &--blue {
        background-color: $rimeraBlue;
    }

    &--orange {
        background-color: $rimeraOrange;
    }

    &:hover {
        background-color: $rimeraRed;
        color: $white;
    }
}

.link {
    color: $rimeraGrey;
    font-weight: bold;
    font-size: 24px;

    &:hover {
        text-decoration: underline;
    }
}

.input {
    border-radius: 5px;
    width: 100%;
    padding: 22px 44px;
    border: none;
    font-size: 24px;
}

.flex {
    display: flex;
    margin: 0 -5px;
    align-items: center;
}

.flex-item {
    padding: 5px;
}

.tooltip {
    z-index: auto;
    position: absolute;
    top: -6px;
    right: -60px;
    display: inline-block;
    width: 35px;
    height: 35px;
    color: $white;
    border-radius: 50%;
    cursor: pointer;

    &--bottom {
        top: auto;
        bottom: 20px;
    }

    &--green {
        background-color: $rimeraGreen;
    }

    &--blue {
        background-color: $rimeraBlue;
    }

    &::before {
        position: absolute;
        content: '?';
        width: 15px;
        height: 22px;
        top: 6px;
        left: 10px;
        border-radius: 50%;
    }

    &__text {
        position: absolute;
        z-index: 1;
        visibility: hidden;
        max-width: 700px;
        min-width: 400px;
        left: 50px;
        padding: 25px;
        font-size: 18px;
        text-transform: none;
        color: $rimeraGrey;
        background-color: $white;

        &--left {
            right: 50px;
        }
    }

    &:hover &__text {
        visibility: visible;
    }

}
  
@media (max-width: $laptop-breakpoint) {
    .container {
        padding: 0 30px;
    }

    .section { 
        &__title {
            font-size: 24px;
            line-height: 30px;
            margin-bottom: 40px;
        }
    }
}

@media (max-width: $mobile-breakpoint) {
    .container {
        padding: 0 10px;
    }

    .section {
        margin-bottom: 30px;
        
        &__title {
            margin-bottom: 20px;
        }
    }
}
  