$white: #FFFFFF;
$black: #000000;
$grey: #EDF0F9;
$green: #d8fdd8;
$lightBlue: #C5F1FF;
$darkGrey: #5b5b6a;

$colorClasses: (
    "blue": "#72DDFF",
    "green": "#A7FBDD",
    "red": "#E43E5C",
    "yellow": "#FFAB4A",
    "darkblue": "#1C00C6",
);

$colorClassesWithWhite: (
    "white": "#FFFFFF",
    "blue": "#72DDFF",
    "green": "#A7FBDD",
    "red": "#E43E5C",
    "yellow": "#FFAB4A",
    "darkblue": "#1C00C6",
);
