$white: #FFFFFF;
$black: #000000;
$grey: #EDF0F9;
$greyInner: #D9D9D9;
$green: #d8fdd8;
$blue: #2196F3;
$pink: #f27272;
$lightBlue: #C5F1FF;
$darkGrey: #5b5b6a;
$rimeraRed: #EB564F;
$rimeraGreen: #93C13D;
$rimeraBlue: #5FC6F1;
$rimeraOrange: #F3943B;
$rimeraGrey: #3E4952;
