@font-face {
    font-family: 'Ribeye';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../../assets/fonts/Ribeye-Regular.woff2') format('woff2'),
        url('../../assets/fonts/Ribeye-Regular.woff') format('woff');
}