.nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &__block {
        display: flex;
        margin-left: auto;
        align-items: center;
    }

    &__link {
        padding: 10px 0;
        margin-right: 30px;

        &--noMargin {
            margin-right: 0;
        }
    }

    &__name {
        margin-right: 15px;
    }

    @media (max-width: $mobile-breakpoint) {
        &__block {
            margin-left: 0;
        }
    }
}