.organizations {
    &__list {
        font-size: 20px;
        margin: 40px 0;
        max-width: 700px;
        border-top: 2px solid $grey;
    }

    &__item {
        padding: 20px 0;
        border-bottom: 2px solid $grey;
        display: flex;
        justify-content: space-between;
    }

    &__name {
        font-weight: bold;
        max-width: 400px;
    }
}